<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All Chats</h1>
    <form action="/chats/new" method="get">
        <button>New Chat</button>
    </form>

 <% for (let chat of chats) { %>
    <div class="chat-box">
        <p class="from">From: <%= chat.from %></p>
        <p class="msg"><%= chat.msg %></p>
        <form action="/chats/<%= chat._id %>/edit" method="get">
            <button>Edit</button>
        </form>
        <form action="/chats/<%= chat._id %>?_method=DELETE" method="post">
    <button>Delete</button>
</form>
        <p class="to">Received by: <%= chat.to %></p>
        <hr>
        <p>Date: <%= chat.created_at.toLocaleDateString() %></p>
        <p>Time: <%= chat.created_at.toLocaleTimeString() %></p>
    </div>
<% } %>

</body>
</html>